h1 {
	font-size: 32px;
	color: var(--stamina);
	font-weight: 600;

	margin: 0;
	padding: 16px;
}

span {
	font-size: 18px;
	color: var(--stamina);
	font-weight: 300;

	padding: 8px;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto 0;
}
