* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  --gray-light: #D7D7E0;
  --gray-dark: #707070;
  --stamina: #321B22;
  --white: #FFF;

  font-family: 'Mulish', sans-serif;

  height: 100%;
}

body {
  text-align: center;

  height: 100%;
}

