* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --gray-light: #D7D7E0;
  --gray-dark: #707070;
  --stamina: #321B22;
  --white: #FFF;

  font-family: 'Mulish', sans-serif;

  height: 100%;
}

body {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer {
  color: var(--stamina);

  padding: 24px;

  width: 100%;

  align-items: center;
}

